[submodule "mpp-plotting"]
	path = mpp-plotting
	url = https://github.com/gregtam/mpp-plotting
[submodule "plotting-utils"]
	path = plotting-utils
	url = https://github.com/gregtam/plotting-utils
[submodule "python-utils"]
	path = python-utils
	url = https://github.com/gregtam/python-utils
